In [58]:
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [59]:
dateparse = lambda x: pd.datetime.strptime(x, '%m/%d/%Y %H:%M')
df = pd.read_csv('OnlineRetail.csv', parse_dates=['InvoiceDate'], date_parser=dateparse, encoding = 'unicode_escape')

<ipython-input-59-90a6509587ab>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  dateparse = lambda x: pd.datetime.strptime(x, '%m/%d/%Y %H:%M')

In [60]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [61]:
df.shape

(541909, 8)

In [62]:
df = df.loc[df['Quantity'] > 0]
df.shape

(531285, 8)

In [ ]:
df['CustomerID'].describe()

In [ ]:
df['CustomerID'].isna().sum()

In [ ]:
df.loc[df['CustomerID'].isna()].head()

In [ ]:
df.shape

In [ ]:
df1 = df.dropna(subset=['CustomerID'])
df1.shape

In [ ]:
df1.head()

In [ ]:
customer_item_matrix = df1.pivot_table(index='CustomerID',columns='StockCode',values='Quantity',aggfunc='sum')

In [ ]:
customer_item_matrix.loc[12481:].head()

In [ ]:
customer_item_matrix.shape

In [ ]:
df1['CustomerID'].nunique()

In [ ]:
df1['StockCode'].nunique()

In [ ]:
customer_item_matrix.loc[12348.0].sum()

In [ ]:
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x>0 else 0)

In [ ]:
customer_item_matrix.loc[12481:].head()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
user_to_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))

In [ ]:
user_to_user_sim_matrix.head()

In [ ]:
user_to_user_sim_matrix.columns = customer_item_matrix.index

In [ ]:
user_to_user_sim_matrix['CustomerID'] = customer_item_matrix.index

In [ ]:
user_to_user_sim_matrix = user_to_user_sim_matrix.set_index('CustomerID')

In [ ]:
user_to_user_sim_matrix = user_to_user_sim_matrix.set_index('CustomerID')